<div th:insert="header.html"></div>
<div class="px-3 py-3">
    <h4 class="card-title mb-1" th:text="${title}"></h4>
    <p class="pb-0">Best seller of the month cate</p>
    <a href=/measurement/addform class="btn btn-sm btn-primary">Create New</a>

    <div class="py-2">
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Style Code</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Tolerance</th>

                <th scope="col">Action</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="me:${measurementList}">
                <td th:text="${me.id}"></td>
                <td th:text="${me.style.code}"></td>
                <td th:text="${me.codeName}"></td>
                <td th:text="${me.name}"></td>
                <td th:text="${me.tolerance}"></td>

                <td>
                    <a  class="btn btn-warning" th:href="@{'/measurement_edit/'+${me.id}}">Update</a>

                    <a  class="btn btn-danger" th:href="@{'/measurement/delete/'+${me.id}}">Delete</a>
                </td>

            </tr>

            </tbody>
        </table>
    </div>

</div>
<div th:insert="footer.html"></div>