<div th:insert="header.html"></div>
<div class="px-3 py-3">
    <h4 class="card-title mb-1" th:text="${title}"></h4>
<!--    <p class="pb-0">Best seller of the month cate</p>-->
    <a href=/raw_material/addform class="btn btn-sm btn-primary">Create New</a>

    <div class="py-2">
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Style Code</th>
                <th scope="col">Material</th>
                <th scope="col">UOM</th>
                <th scope="col">Unit price</th>
                <th scope="col">Attachment</th>
                <th scope="col">Vendor</th>

                <th scope="col">Action</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="raw:${rawMaterialList}">
                <td th:text="${raw.id}"></td>
                <td th:text="${raw.styleId.code}"></td>
                <td  th:text="${raw.rawMaterialCatId.name}+'-'+${raw.name}">

                </td>
                <td th:text="${raw.uomId.name}"></td>
                <td th:text="${raw.unitPrice}"></td>
                <td th:text="${raw.vendorId.company}"></td>

                <td>
                    <img height="80px"
                         th:src="@{${'/raw_material/display?id=' + raw.id} }">
                </td>


                <td>
                    <a  class="btn btn-warning" th:href="@{'/raw_material_edit/'+${raw.id}}">Update</a>

                    <a  class="btn btn-danger" th:href="@{'/raw_material/delete/'+${raw.id}}">Delete</a>
                </td>

            </tr>

            </tbody>
        </table>

        <div th:if="${totalPages > 1}">
            <div class="row col-md-10">
                <div class="col-sm-2"
                     th:text="'Total Rows '+${totalItems}">
                </div>
                <div class="col-sm-2">
                    <span th:each="index:${#numbers.sequence(1,totalPages)}">
                        <a th:if="${currentPage != index}"
                           th:href="@{'/rpage/'+${index}}" th:text="${index}"></a>
                        <span th:unless="${currentPage != index}" th:text="${index}"></span>
                        &nbsp; &nbsp;
                    </span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/rpage/'+${currentPage+1}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/rpage/'+${totalPages}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:insert="footer.html"></div>