<div th:insert="header.html"></div>
<div class="px-3 py-3">
    <h4 class="card-title mb-1"  th:text="${title}"></h4>
<!--    <p class="pb-0">Best seller of the month cate</p>-->
    <a href=/style_attachment/list class="btn btn-sm btn-primary">Manage</a>

    <div class="py-2">
        <form method="post" th:action="@{/style_attachment/save}" th:object="${styleAttachment}" enctype="multipart/form-data">
            <input type="hidden" class="form-control" th:field="*{id}">




            <div class="mb-3">
                <label for="styleCode" class="form-label">Style Code</label>
                <select name="styleCode" id="styleCode" class="form-control" th:field="*{styleId}">
                    <option  th:each="style:${styleList}" th:text="${style.code}" th:value="${style.id}">Select one</option>

                </select>

            </div>



<!--            <div class="mb-3">-->
<!--                <label for="name" class="form-label">Name</label>-->
<!--                <input type="text" class="form-control" id="name" th:field="*{name}">-->

<!--            </div>-->
            <!--            image upload-->

            <div class="mb-3">
                <label for="attachment" class="form-label">Attachment</label>
                <input type="file" class="form-control" id="attachment" th:field="*{attachment}"
                       placeholder="sketch image" accept="image/*" onchange="previewImage()">
                <!--                preview image-->
                <img th:if="${styleAttachment.attachment ne null}"
                     th:src="@{/assets/image/style_att/{filename}(filename=${styleAttachment.attachment}) }"
                     style="max-width: 100%"><br>
                <img id="imagePreview" src="#" alt="style image" style="display:none; width: 100px;">

            </div>



            <button type="submit" th:if="${id==null}" class="btn btn-primary">Submit</button>
            <button type="submit" th:if="${id!=null}" class="btn btn-primary">Update</button>
        </form>
    </div>

</div>
<script>
    function previewImage(){
        var input=document.querySelector('input[type="file"]');
        var preview=document.getElementById("imagePreview");
        if (input.files && input.files[0]){
            var reader=new FileReader();
            reader.onload=function (e){
                preview.src=e.target.result;
                preview.style.display='block';
            }
            reader.readAsDataURL(input.files[0])
        }else{
            preview.src='#';
            preview.style.display='none';
        }
    }
</script>
<div th:insert="footer.html"></div>