<div th:insert="header.html"></div>
<div class="px-3 py-3">
    <h4 class="card-title mb-1"  th:text="${title}"></h4>
    <p class="pb-0">Best seller of the month cate</p>
    <a href=/style_size/list class="btn btn-sm btn-primary">Manage</a>

    <div class="py-2">
        <form method="post" th:action="@{/style_size/save}" th:object="${styleSize}">
            <input type="hidden" class="form-control" th:field="*{id}">
            <div class="mb-3">
                <label for="styleCode" class="form-label">Style Code</label>
                <select name="styleCode" id="styleCode" class="form-control" th:field="*{styleId}">
                    <option  th:each="style:${styleList}" th:text="${style.code}" th:value="${style.id}">Select one</option>

                </select>

            </div>

            <div class="mb-3">
                <label for="sizeList" class="form-label">Style Category</label>
                <select name="sizeList" id="sizeList"  class="form-control" th:field="*{sizeId}">
                    <option  th:each="size:${sizeList}" th:text="${size.name}" th:value="${size.id}">Select one</option>

                </select>

            </div>



            <button type="submit" th:if="${id==null}" class="btn btn-primary">Submit</button>
            <button type="submit" th:if="${id!=null}" class="btn btn-primary">Update</button>
        </form>
    </div>

</div>
<div th:insert="footer.html"></div>