

</div>
</div>
</div>
</div>
</div>
</div>
<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl">
        <div
                class="footer-container d-flex align-items-center justify-content-between py-3 flex-md-row flex-column">
            <div class="text-body mb-2 mb-md-0">
                ©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                , made with <span class="text-danger"><i class="tf-icons mdi mdi-heart"></i></span> by
                <a href=/home target="_blank" class="footer-link fw-medium"
                >Fatema Tuz Zohora</a
                >
            </div>
<!--            <div class="d-none d-lg-inline-block">-->
<!--                <a href="https://themeselection.com/license/" class="footer-link me-3" target="_blank">License</a>-->
<!--                <a href="https://themeselection.com/" target="_blank" class="footer-link me-3">More Themes</a>-->

<!--                <a-->
<!--                        href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/documentation/"-->
<!--                        target="_blank"-->
<!--                        class="footer-link me-3"-->
<!--                >Documentation</a-->
<!--                >-->

<!--                <a-->
<!--                        href="https://github.com/themeselection/materio-bootstrap-html-admin-template-free/issues"-->
<!--                        target="_blank"-->
<!--                        class="footer-link"-->
<!--                >Support</a-->
<!--                >-->
<!--            </div>-->
        </div>
    </div>
</footer>
<!-- / Footer -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<!--<div class="buy-now">-->
<!--    <a-->
<!--            href="https://themeselection.com/item/materio-bootstrap-html-admin-template/"-->
<!--            target="_blank"-->
<!--            class="btn btn-danger btn-buy-now"-->
<!--    >Upgrade to Pro</a-->
<!--    >-->
<!--</div>-->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../assets/vendor/libs/popper/popper.js"></script>
<script src="../assets/vendor/js/bootstrap.js"></script>
<script src="../assets/vendor/libs/node-waves/node-waves.js"></script>
<script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="../assets/vendor/js/menu.js"></script>

<!-- endbuild -->

<!-- Vendors JS -->
<script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="../assets/js/main.js"></script>

<!-- Page JS -->
<script src="../assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!--custome dropdown script for measurement size-->
<script language="JavaScript" src="../assets/js/ddlist.js">


</script>
</body>
</html>
